 .navbar {
    background-color:  #FFFFFF;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0px;
   
 }
 .container{
  background-color:  #FFFFFF;
   width: 100%;
height: 72px;
display: flex;
align-items: center;
justify-content:space-around;
padding: 12px, 0px, 12px, 0px;
margin-left: 18px;
margin: 0px;
flex-shrink: inherit;
}
  